@keyframes floatInRight {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-logo {
  animation: floatInRight 1.2s ease-out forwards;
}
